.content
	.search-results
		ul.hotels-summary-list
			li
				.media.hotel-summary
					a.img
						img(alt='',src='')
					.bd
						h3
							a(href='')
						.rating
							ul.stars
								li
								li
							.add-info catalog number : kdjkfjd