.menu
	h2 Filters
	ul.filters
		li.star-rating-filters
			h3 star ratings
			.sort-by
				.styled-radio-block
					input#stars-filter-1(name='star-rating-filter', value='1', type='radio')
					label.styled-radio(for='stars-filter-1')
					label(for='stars-filter-1') 1
		li.range-filters
			label(for='min-cost') price
			input#min-cost(type='range', step='1', min='0', max='100')
			label(for='min-cost') 5
		li.range-filters
			label(for='user-rating') price
			input#user-rating(type='range', step='1', min='0', max='10')
			label(for='user-rating') 3
	h2 Sort by
		.sort-by
			.styled-radio-block
				input#distance-filter(type='radio', name='sort', value='distance')
				label.styled-radio(for='distance-filter')
				label(for='distance-filter') distance
			.styled-radio-block
				input#stars-filter(type='radio', name='sort', value='stars')
				label.styled-radio(for='stars-filter')
				label(for='stars-filter') distance
			.styled-radio-block
				input#price-filter(type='radio', name='sort', value='mincost')
				label.styled-radio(for='price-filter')
				label(for='price-filter') min cost
			.styled-radio-block
				input#user-rating-filter(type='radio', name='sort', value='userrating')
				label.styled-radio(for='user-rating-filter')
				label(for='user-rating-filter') user-rating